<?xml version="1.0" encoding="utf-8"?>

<!--Config file -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
To Set Attibs
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
     To Replace
    -->
  </system.web>
</configuration>